@font-face {
    font-family: "Avenir Next Bold";
    src:  url('../assets/Font/AvenirNextLTPro-Bold.otf') format('opentype'),
        url('../assets/Font/Alternative-Files/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Avenir Next Demi";
    src:  url('../assets/Font/AvenirNextLTPro-Demi.otf') format('opentype'),
        url('../assets/Font/Alternative-Files/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Avenir Next Regular";
    src: url('../assets/Font/AvenirNextLTPro-Regular.otf') format('opentype'),
        url('../assets/Font/Alternative-Files/AvenirNextLTPro.ttf') format('truetype');
    font-weight: 400;
}



$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFFFFF;

$secondary-color: #E1E1E1;
$Alabaster: #FAFAFA;

@mixin labels-m {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: "Avenir Next Bold";
}

@mixin labels-tab {
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: "Avenir Next Bold";
}

@mixin body-footer-m {
    font-size: 0.8125rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
}
    
@mixin body-copy-tab {
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
}
    
@mixin body-copy-m {
    font-size: .8125rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Regular";
}

@mixin body-copy-tab {
    font-size: .875rem;
    line-height: 1.125rem;
    font-family: "Avenir Next Regular";
}

@mixin subheader-m {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Next Demi";
}

@mixin subheader-tab {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Demi";
}


@mixin header-m {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Next Bold";
}

@mixin section-tab {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
}

@mixin header-tab {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Next Bold";
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir Next Regular";
}
.header {
    background-color: #323232;
    width: 100%;
    &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    font-family: Avenir;
    }
    &__menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 0.5rem;
}
    &__logo {
        height: 1.25rem;
        width: 7.5rem;
    }
    &__menu-link {
        list-style-type: none;
        text-decoration: none;
        color: $secondary-color;
        padding-bottom: 1rem;
    }
    &__menu-link--active {
        font-weight: 700;
        color: $primary-color3
    }
}


.hero {
    background-image: url('../assets/image/hero-bio.jpg');
    width: 100%; 
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(50, 50, 50, 0.5);
        width: 100%;
        height: 100%;
    }
    &__title {
        font-family: "Avenir Next Bold";
        color: $primary-color3;
        font-size: 1.5rem;
        z-index: 1;
        position: relative;
    }
}

.container {
    padding: 0 1rem;
}

.about {
    &__title {
        font-family: "Avenir Next Demi";
        font-size: .875rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    } 
    &__image {
        width: 100%;
    }
    &__quote {
        font-family: "Avenir Next Bold";
        font-size: 1rem;
    }
    &__subtitle {
        font-family: "Avenir Next Regular";
        font-size: 1rem;
    }
    &__text {
        font-size:.875rem;
        font-family: "Avenir Next Regular";
        padding-top: 1rem;
    }
}

.gallery {
    &__gallery-item {
        width: 100%;
    }
}

.footer {
    background-color: $primary-color1;
    padding: 0 1rem;
    color: $secondary-color;
    &__section-title {
        color:$primary-color3;
        font-size: 1.5rem;
        line-height: 2.75rem;
        font-family: "Avenir Next Bold";
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    &__section-social {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    &__contact {
        &-name {
        font-size: .875rem; 
        font-family: "Avenir Next Demi";
        color: $Alabaster; 
        padding-top: 1.5rem;
        line-height: 1.125rem;
        padding-bottom: 1rem;
    }
    &-details {
        font-size: .8125rem;
        line-height: 1.125rem;
        padding-bottom: 1rem;
    }
    }
    &__copyright {
        @include body-copy-m;
        font-size: .625rem;
        padding-bottom: 1rem;
    }
    &__logo {
        width: 7.5rem;
        height: 1.25rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        &--toggle {
            display: none;
        }
    }
}


@media screen and (min-width: 768px) {
    .header {
        &__logo {
            margin-right: 1rem;
        }
        &__nav {
            flex-direction: row;
            padding: 0 1rem;
            }
        &__menu {
            justify-content: start;
            align-items: center;
            height: 100%;
        }
        &__menu-link {
            margin-left: 2rem;
    }
}
    .footer {
        &__section {
            display: flex;
            align-items: center;
            justify-content: start;
            &-title {
                @include section-tab;
        }
    }
        
        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__contact-title {
            @include subheader-tab;
        }
        &__copyrights {
            display: flex;
        }
        &__logo {
            display: none;
        }
        &__logo--toggle {
            display: inline-block;
            margin-left: auto;
        }
    }
}
